<header class="header">
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="index.html" class="logo">
            <!-- Add the class icon to your logo image or logo icon to add the marginin -->
            <img src="/Resources/img/logo.png" alt="logo"/>
        </a>
        <!-- Header Navbar: style can be found in header-->
        <!-- Sidebar toggle button-->
        <div>
            <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button"> <i  class="fa fa-fw fa-bars"></i>
            </a>
        </div>
        <div class="navbar-right">
            <ul class="nav navbar-nav">
                <!-- Notifications: style can be found in dropdown-->
                <li class="dropdown notifications-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-fw fa-bell-o black"></i>
                        <span class="label label-warning">8</span>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li class="dropdown-title">你有8条订单</li>

                        <li>
                            <a href="" class="message icon-not">
                                <img class="message-image img-circle" src="img/authors/avatar.jpg" alt="avatar-image">
                                <div class="message-body">
                                    <strong>XXXXX</strong>
                                    <br>
                                    客户XX订单
                                    <br>
                                    <span class="noti-date">5分钟前</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="" class="message icon-not striped-col">
                                <img class="message-image img-circle" src="img/authors/avatar6.jpg" alt="avatar-image">

                                <div class="message-body">
                                    <strong>XXX申请</strong>
                                    <br>
                                    客户XXX申请
                                    <br>
                                    <span class="noti-date">11分钟前</span>

                                </div>
                            </a>
                        </li>
                        <li class="dropdown-footer"><a href="#"> 查看所有信息</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </nav>
</header>


