.m-40 {
    margin : 40px;
}
.swal2-modal h2 {
    font-weight : 500;
    line-height : 50px;
}
.swal2-modal .swal2-content {
    font-size : 13px;
}
.swal2-modal .styled {
    font-size : 14px;
}
.swal2-modal {
    background-color : #fff;
    font-family      : 'Open Sans', 'sans-serif';
    border-radius    : 0;
}
#swal2-checkbox {
    margin : 0 5px 0;
}
/* Sweep To Right */
.hvr-sweep-to-right {
    display                     : inline-block;
    vertical-align              : middle;
    -webkit-transform           : translateZ(0);
    transform                   : translateZ(0);
    box-shadow                  : 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility : hidden;
    backface-visibility         : hidden;
    -moz-osx-font-smoothing     : grayscale;
    position                    : relative;
    -webkit-transition-property : color;
    transition-property         : color;
    -webkit-transition-duration : 0.3s;
    transition-duration         : 0.3s;
    width                       : 100%;
}
.hvr-sweep-to-right:before {
    content                            : "";
    position                           : absolute;
    z-index                            : -1;
    top                                : 0;
    left                               : 0;
    right                              : 0;
    bottom                             : 0;
    background                         : #428BCA;
    -webkit-transform                  : scaleX(0);
    transform                          : scaleX(0);
    -webkit-transform-origin           : 0 50%;
    transform-origin                   : 0 50%;
    -webkit-transition-property        : transform;
    transition-property                : transform;
    -webkit-transition-duration        : 0.3s;
    transition-duration                : 0.3s;
    -webkit-transition-timing-function : ease-out;
    transition-timing-function         : ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
    color  : #ffffff;
    cursor : pointer;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
    -webkit-transform : scaleX(1);
    transform         : scaleX(1);
}
