@{
    Layout = null;
}

<!DOCTYPE html>
<html >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no, width=device-width">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>@ViewBag.Title</title>
    <link href="~/Resources/css/mobile.css" rel="stylesheet" />
</head>
<body>
    <div>
        <section id="content">
            <div class="box" id="webview_content_wrapper">
                @Html.Raw(ViewBag.Content)
            </div>
        </section>
    </div>
</body>
</html>