<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SysEntities" connectionString="metadata=res://*/SysEntities.csdl|res://*/SysEntities.ssdl|res://*/SysEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=WYRMS;persist security info=True;user id=sa;password=wuyi23;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>